@font-face {
  font-family: PingHei;
  src: url(PingHei-light.woff);}

body > h1 {
  font-family: PingHei, 'Lucida Grande', 'Lucida Sans Unicode', STHeiti, Helvetica, Arial, Verdana, sans-serif;
  text-align: center;}
