@font-face {
  font-family: PingHei;
  src: url(PingHei-light.woff);}
body {
  background: -webkit-linear-gradient(#F44336, #EF9A9A);
  background: -o-linear-gradient(#F44336, #EF9A9A);
  background: -moz-linear-gradient(#F44336, #EF9A9A);
  background: linear-gradient(#F44336, #EF9A9A);
  background-attachment: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;}

h1, h4, p {
  font-family: PingHei, Helvetica, Arial, Verdana, sans-serif;
  text-align: center;}

h1 {
font-size: 4rem;}

h2 {
font-size: 2rem;}

p {
font-size: 1rem;}

#letter {
  font-size: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
