.jumbotron {
  margin: 0;
}

section {
  overflow: hidden;
  margin: 20px auto;
  border-bottom: 1px solid #eee;
}

p {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #333;
}

#section_design__feature p {
  display: inline-block;
  overflow:auto;
  display:block;
  float:left;
}

#section_design__feature img {
  margin: 0 8px;
  display: inline-block;
}


@media only screen and (orientation: landscape) {
  #section_design__feature img {
    float: right;
    height: 70vh;
    width: auto;
  }

  .imgset {
    float: left;
  }
}

@media only screen and (orientation : portrait) {
  #section_design__feature img {
    width: 40vw;
    height: auto;
  }

  p {
    font-size: 16px;
  }

  .imgset {
    text-align: center;
    clear: both;
  }
}

#footerImg {
  width: 100vw;
  height: auto;
}
