.jumbotron {
  margin: 0;
}

#section_design__feature > div {
  display: inline-block;
}

#section_design__feature p {
  overflow:auto;
  display:inline-block;
  float:left;
}

p {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #333;
}

section {
  margin: 20px auto;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

#section_design__feature img {
  float: right;
  margin: 0 10px;
  display: inline-block;
}

@media only screen and (orientation: landscape) {
  #section_design__feature img {
    height: 70vh;
    width: auto;
  }

  .imgset {
    float: left;

  }
}

@media only screen and (orientation : portrait) {
  #section_design__feature img {
    width: 40vw;
    height: auto;
  }

  .imgset {
    margin: 0 auto;
    overflow: hidden;
    clear: both;
  }
}

#footerImg {
  width: 100vw;
  height: auto;
}
