html,
body {
  margin: 0;
  padding: 0;
}

body {
  background:
  linear-gradient(-45deg, rgba(24, 89, 168, 0) 0%, rgb(24, 89, 168) 100%),
  linear-gradient(45deg, rgba(92, 178, 226, 0.5) 0%, #03A9F4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.home {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

/*Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) {
  .home {
    font-size: 1.2rem;
  }
}

/*Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {
  .home {
    font-size: 1.3125rem;
  }
}

.home__header,
.home__love,
.footer__clarification,
.footer__socials {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header,
.header__name,
.love,
.love__code,
.love__animes,
.animes__list,
.❤code__list,
.footer,
.footer__socials {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem;
}

.header,
.love {
  border-bottom: 1px solid #fff;
}

.header__name {
  font-weight: 300;
  font-size: 2rem;
}

/*Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) {
  .header__name {
    font-size: 2.618rem;
  }
}

.love {
  line-height: 1.3125em;
}

.love__code {
  border-bottom: 1px solid #fff;
}

.animes__header,
.❤code__header {
  font-size: 1.618rem;
}

.animes__list,
.❤code__list,
.proj__logs {
  list-style-type: square;
  padding-left: 1.3125rem;
}

.proj__logs {
  list-style-type: circle;
}

.proj__header,
.anime__header {
  font-weight: 400;
}

.footer {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.fsocials {
  list-style-type: none;
}

.fsocials__social {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fsocials__social:first-child {
  margin-left: 0;
}

.fsocials__social:last-child {
  margin-right: 0;
}
